<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="sunpassy is a handy companion for your sun-infused travels. Decide yourself choose the side with the sun or avoid the side with sun.">
    <title>sunpassy - travel with the sun</title>
    <link rel="preconnect" href="https://storage.googleapis.com">
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="preconnect" href="https://maps.googleapis.com">
  </head>
  <body ontouchstart="">
    <header id="search-header">
      <form>
        <input type="text" id="start" name="start" placeholder="From" value="Nuremberg" required>
        <input type="text" id="end" name="end" placeholder="To" value="Lohr am Main" required>
        <button id="search">Search</button>
      </form>
    </header>
    <div id="overlay">
    </div>
    <main>
      <div id="results">
      </div>
    </main>
  </body>
</html>