<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>sunpassy - travel with the sun</title>
  </head>
  <body>
    <header id="search-header">
      <form>
        <input type="text" id="start" name="start" placeholder="From" value="Nuremberg" required>
        <input type="text" id="end" name="end" placeholder="To" value="Lohr am Main" required>
        <button id="search">Search</button>
      </form>
    </header>
    <main>
      <div id="results"></div>
    </main>
  </body>
</html>